MONGODB_URI=mongodb://127.0.0.1:27017/ai-career-agent
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GROQ_API_BASE_URL=https://console.groq.com/home
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile